<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.tliaswebmanagement.mapper.EmpLogMapper">
    <!--
        插入员工操作日志记录
        @param operateTime 操作时间
        @param info 日志信息
        @return 受影响的行数
    -->
    <insert id="insert">
        insert into emp_log (operate_time, info) values (#{operateTime}, #{info})
    </insert>

</mapper>