<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.tliaswebmanagement.mapper.EmpMapper">
    <select id="count" resultType="java.lang.Long">
        select count(*) from emp e left join dept d on e.dept_id = d.id
    </select>
    <select id="list" resultType="com.itheima.tliaswebmanagement.pojo.Emp">
        select e.*, d.name dept_name from emp e left join dept d on e.dept_id = d.id order by update_time desc limit #{start},#{pageSize}
    </select>
</mapper>